[Unit]
Description=Retro Console
After=graphical-session.target antimicrox.service
Wants=antimicrox.service
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=DISPLAY=:0
WorkingDirectory=/opt/retro-console
ExecStart=/usr/bin/xterm -u8 -fa 'Monospace' -fs 14 -fullscreen -bg black -fg white -e "/home/%u/.local/bin/uv run retro-console"
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
